# This is Git's per-user configuration file.
[user]
	name = Jan Christian Refsgaard
	email = jancrefsgaard@gmail.com
[core]
	excludesfile = $HOME/.config/.gitignore_global
	eol = native
	autocrlf = input
[push]
	default = matching

# Change to Work user if in any of thise places
[includeIf "gitdir:/novo/jref/"]
	path = ~/.config/.gitworkconfig
[includeIf "gitdir:/home/jref/"]
	path = ~/.config/.gitworkconfig
[includeIf "gitdir:/mnt/einstein/"]
	path = ~/.config/.gitworkconfig
[includeIf "gitdir:/mnt/skynet/"]
	path = ~/.config/.gitworkconfig
# [credential "https://github.com"]
#     helper = !/usr/bin/gh auth git-credential
