# This is Git's per-user configuration file.
[user]
	name = JREF
	email = jref@novonordisk.com
[core]
	excludesfile = /Users/jcr/.config/.gitignore_global
	eol = native
	autocrlf = input
[push]
	default = matching
